In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [44]:
df = pd.read_csv('orders.csv')
df

,Month,New,amazon-order-id,merchant-order-id,shipment-id,shipment-item-id,amazon-order-item-id,merchant-order-item-id,purchase-date,payments-date,...,bill-country,item-promotion-discount,ship-promotion-discount,carrier,tracking-number,estimated-arrival-date,fulfillment-center-id,fulfillment-channel,sales-channel,purchase date
0,January,Y,113-8314593-5724266,NaN,DvwtVfd13,D6qfGrsxR,2.010000e+13,NaN,2020-01-31T14:55:20+00:00,2020-02-01T05:03:28+00:00,...,NaN,0.0,0.00,AMZN_US,TBA793108428000,2020-02-02T04:00:00+00:00,SLC1,AFN,Amazon.com,2020-01-31
1,January,N,114-9906705-5981823,NaN,DWb4ztvlP,DJc5FjsSR,2.540000e+13,NaN,2020-01-13T14:44:24+00:00,2020-01-14T05:12:09+00:00,...,NaN,0.0,0.00,AMZN_US,TBA665510662000,2020-01-15T04:00:00+00:00,SLC1,AFN,Amazon.com,2020-01-13
2,January,Y,111-7968236-2013013,NaN,DBR7kLxLd,DrQCL80yN,2.310000e+13,NaN,2020-01-15T21:26:15+00:00,2020-01-17T06:04:48+00:00,...,NaN,0.0,0.00,AMZN_US,TBA687827377000,2020-01-18T04:00:00+00:00,OAK4,AFN,Amazon.com,2020-01-15
3,January,Y,114-8097090-6449817,NaN,Dh6Mt756L,DtsqWQXQR,4.920000e+13,NaN,2020-01-28T13:10:15+00:00,2020-01-30T00:15:00+00:00,...,NaN,0.0,0.00,UPS,1ZWX93600376392829,2020-01-31T04:00:00+00:00,TPA1,AFN,Amazon.com,2020-01-28
4,January,Y,113-5635518-7664263,NaN,DkVd4xZJx,DHbFdnQYR,5.040000e+12,NaN,2020-01-25T17:18:06+00:00,2020-01-27T03:15:56+00:00,...,NaN,0.0,0.00,UPS,1Z6A25W50301215034,2020-01-28T04:00:00+00:00,EWR9,AFN,Amazon.com,2020-01-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380,September,Y,112-1491243-0345823,NaN,DvSK8HmK0,DNm6CXhTR,1.510000e+13,NaN,2020-09-16T07:21:40-07:00,2020-09-16T14:30:30-07:00,...,NaN,0.0,0.00,AMZN_US,TBA001206772304,2020-09-17T20:00:00-07:00,MCO1,AFN,Amazon.com,2020-09-16
2381,September,Y,113-3454474-5304209,NaN,DH016H480,DfVnJZJwN,4.860000e+12,NaN,2020-09-20T15:16:34-07:00,2020-09-21T22:27:42-07:00,...,NaN,0.0,0.00,AMZN_US,TBA005818992704,2020-09-22T20:00:00-07:00,CAE1,AFN,Amazon.com,2020-09-20
2382,September,N,113-5797949-1855408,NaN,D4w5ZDmf0,DQjNj3wrR,3.040000e+13,NaN,2020-09-16T07:46:32-07:00,2020-09-16T19:15:48-07:00,...,NaN,0.0,0.00,AMZN_US,TBA001367615604,2020-09-17T20:00:00-07:00,MDW7,AFN,Amazon.com,2020-09-16
2383,September,N,113-5797949-1855408,NaN,D4w5ZDmf0,Dpj6j1wlR,3.040000e+13,NaN,2020-09-16T07:46:32-07:00,2020-09-16T19:15:48-07:00,...,NaN,0.0,0.00,AMZN_US,TBA001367615604,2020-09-17T20:00:00-07:00,MDW7,AFN,Amazon.com,2020-09-16
2384,September,Y,112-5692313-8537033,NaN,DHpbWMkP0,DBQYSKx4N,1.760000e+13,NaN,2020-09-14T09:10:22-07:00,2020-09-18T15:20:11-07:00,...,NaN,0.0,-0.25,AMZN_US,TBA002407950604,2020-09-19T20:00:00-07:00,TPA1,AFN,Amazon.com,2020-09-14

In [8]:
orders_per_customer = df.groupby('buyer-email').count().sort_values('Month', ascending=False)

In [9]:
dist_of_order_counts = orders_per_customer.groupby('Month').count()

In [11]:
count_unique = np.sum(dist_of_order_counts['New'])

In [12]:
count_unique

1731

In [19]:
orders_by_id = df.groupby(['Month', 'amazon-order-id']).count()

In [29]:
orders_by_id_rev = df.groupby(['Month', 'amazon-order-id']).sum()

In [34]:
orders_by_id_rev.sort_values('item-price', ascending=False)
np.mean(orders_by_id_rev['quantity-shipped'])

1.2946336429308565

In [25]:
orders_by_id = orders_by_id.reset_index()

In [26]:
orders_by_id.sort_values('sku', ascending=False)

,Month,amazon-order-id,New,merchant-order-id,shipment-id,shipment-item-id,amazon-order-item-id,merchant-order-item-id,purchase-date,payments-date,...,bill-country,item-promotion-discount,ship-promotion-discount,carrier,tracking-number,estimated-arrival-date,fulfillment-center-id,fulfillment-channel,sales-channel,purchase date
1060,June,114-4099818-9597007,7,0,7,7,7,0,7,7,...,0,7,7,7,7,7,7,7,7,7
1345,May,113-3749518-2378611,7,0,7,7,7,0,7,7,...,0,7,7,7,7,7,7,7,7,7
1732,September,112-5135053-3688215,6,0,6,6,6,0,6,6,...,0,6,6,6,6,6,6,6,6,6
770,June,111-4283386-1639465,5,0,5,5,5,0,5,5,...,0,5,5,5,5,5,5,5,5,5
1005,June,113-8573954-3041812,5,0,5,5,5,0,5,5,...,0,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,July,114-2507009-2781862,1,0,1,1,1,0,1,1,...,0,1,1,1,1,1,1,1,1,1
691,July,114-2470791-9301020,1,0,1,1,1,0,1,1,...,0,1,1,1,1,1,1,1,1,1
690,July,114-2449612-2242619,1,0,1,1,1,0,1,1,...,0,1,1,1,1,1,1,1,1,1
689,July,114-2412087-6455462,1,0,1,1,1,0,1,1,...,0,1,1,1,1,1,1,1,1,1
1937,September,114-9928301-3631461,1,0,1,1,1,0,1,1,...,0,1,1,1,1,1,1,1,1,1

In [27]:
unique_orders = len(orders_by_id['New'])

1938

In [28]:
units_per_order = np.mean(orders_by_id['New'])

1.176986584107327

In [36]:
orders_by_id_rev = orders_by_id_rev.reset_index()

In [49]:
combined = df.merge(orders_by_id_rev, on='amazon-order-id')

In [59]:
def vlookup(reference_df, reference_colname, new_colname, matching_df, matching_colname, value_column_name):
    value_dict = {}
    
    get_data = matching_df[matching_colname]
    want_data = matching_df[value_column_name]
    for i in range(len(get_data)):
        if get_data[i] in value_dict.keys():
            pass
        else:
            value_dict[get_data[i]] = want_data[i]
    
    reference_df[new_colname] = reference_df[reference_colname].map(value_dict)
    
    return reference_df

In [61]:
updated_df = vlookup(orders_by_id_rev, 'amazon-order-id', 'buyers', df, 'amazon-order-id', 'buyer-email')

In [67]:
updated_df = updated_df.sort_values('quantity-shipped', ascending=False)

In [72]:
updated_df[['purchase-date', 'amazon-order-id', 'buyers', 'quantity-shipped', 'item-price']]

KeyError: "['purchase-date'] not in index"

In [76]:
updated_df = vlookup(orders_by_id_rev, 'amazon-order-id', 'purchase date', df, 'amazon-order-id', 'purchase-date')

In [78]:
updated_df[['purchase date', 'amazon-order-id', 'buyers', 'quantity-shipped', 'item-price']]

,purchase date,amazon-order-id,buyers,quantity-shipped,item-price
0,2020-04-23T07:40:49+00:00,111-0488155-9650600,cpgf91hkjsv983z@marketplace.amazon.com,1,29.99
1,2020-04-19T20:08:30+00:00,111-0658881-1546638,gfth9657d40xbsk@marketplace.amazon.com,1,24.99
2,2020-04-17T01:21:01+00:00,111-0893626-5781847,2hb2mvpsg63h0m7@marketplace.amazon.com,1,24.99
3,2020-04-24T22:35:01+00:00,111-1016274-0177039,sgc9x1q5snq2jzj@marketplace.amazon.com,1,24.99
4,2020-04-16T01:57:18+00:00,111-1233215-0055467,1kp5bm6w9cd1mm6@marketplace.amazon.com,1,24.99
...,...,...,...,...,...
1933,2020-09-26T07:25:36-07:00,114-9564687-0049013,f7mx68l3bxtt8j8@marketplace.amazon.com,2,49.98
1934,2020-09-30T15:30:41-07:00,114-9664057-7525069,yznpnrts5yj9jc2@marketplace.amazon.com,1,24.99
1935,2020-09-16T18:06:53-07:00,114-9734208-9547461,wd5rlzscf5qm84k@marketplace.amazon.com,1,24.99
1936,2020-09-15T09:52:51-07:00,114-9793003-7544240,qpvl8hj3km3wjb6@marketplace.amazon.com,1,24.99
1937,2020-09-25T11:05:44-07:00,114-9928301-3631461,p7fhddf0s9wftn4@marketplace.amazon.com,1,24.99

In [117]:
updated_df['purchase-date'] = updated_df['purchase-date'].apply(lambda x: x[0:10])

In [118]:
simple_df = updated_df[['purchase-date', 'amazon-order-id', 'buyers', 'quantity-shipped', 'item-price']]

In [120]:
simple_df['purchase-date'] = pd.to_datetime(simple_df['purchase-date'])

/Users/ryankirkland/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [125]:
simple_df

,purchase-date,amazon-order-id,buyers,quantity-shipped,item-price
0,2020-04-23,111-0488155-9650600,cpgf91hkjsv983z@marketplace.amazon.com,1,29.99
1,2020-04-19,111-0658881-1546638,gfth9657d40xbsk@marketplace.amazon.com,1,24.99
2,2020-04-17,111-0893626-5781847,2hb2mvpsg63h0m7@marketplace.amazon.com,1,24.99
3,2020-04-24,111-1016274-0177039,sgc9x1q5snq2jzj@marketplace.amazon.com,1,24.99
4,2020-04-16,111-1233215-0055467,1kp5bm6w9cd1mm6@marketplace.amazon.com,1,24.99
...,...,...,...,...,...
1933,2020-09-26,114-9564687-0049013,f7mx68l3bxtt8j8@marketplace.amazon.com,2,49.98
1934,2020-09-30,114-9664057-7525069,yznpnrts5yj9jc2@marketplace.amazon.com,1,24.99
1935,2020-09-16,114-9734208-9547461,wd5rlzscf5qm84k@marketplace.amazon.com,1,24.99
1936,2020-09-15,114-9793003-7544240,qpvl8hj3km3wjb6@marketplace.amazon.com,1,24.99
1937,2020-09-25,114-9928301-3631461,p7fhddf0s9wftn4@marketplace.amazon.com,1,24.99

In [89]:
simple_df = simple_df.sort_values(['buyers'])

In [92]:
buyer_stats = simple_df.groupby('buyers').sum()

In [94]:
order_count = simple_df.groupby('buyers').count()

In [96]:
buyer_stats['orders'] = order_count['purchase-date']

In [113]:
buyer_stats[buyer_stats['orders'] > 1]

                                        quantity-shipped  item-price  orders
buyers
0367s9fktkv9xbv@marketplace.amazon.com                 4      119.96       2
04j5zwyy1k6svy1@marketplace.amazon.com                 5      149.95       3
0d45s02cdsmzypp@marketplace.amazon.com                 2       24.99       2
0fx0lqz5gv15z7s@marketplace.amazon.com                 2       24.99       2
0j732pz5zznqcp3@marketplace.amazon.com                 2       54.98       2
...                                                  ...         ...     ...
zqmhnt0n9y408fk@marketplace.amazon.com                 3       79.97       2
zqs4cb7l3plptcm@marketplace.amazon.com                 2       54.98       2
zt6gkrhpl9nb6vn@marketplace.amazon.com                 2       29.99       2
zxhm8kqcww2vl3d@marketplace.amazon.com                 3       89.97       2
zxyk6c6rgnvs6rk@marketplace.amazon.com                14      459.82       5

[214 rows x 3 columns]

In [115]:
214/1659

0.1289933694996986

In [102]:
simple_df['purchase-date'] = pd.to_datetime(simple_df['purchase-date'])

In [172]:
def time_between_orders(df, datecol, buyercol):
    sorted_df = df.sort_values([buyercol, datecol])
    dates = sorted_df[datecol].values
    buyers = sorted_df[buyercol].values
    
    times = [0]
    
    for i in range(1, len(dates)):
        if buyers[i] == buyers[i-1]:
            times.append(dates[i] - dates[i-1])
        else:
            times.append(0)
    
    sorted_df['times'] = times
    
    return sorted_df

In [197]:
time_df = time_between_orders(simple_df, 'purchase-date', 'buyers')

In [198]:
time_df

,purchase-date,amazon-order-id,buyers,quantity-shipped,item-price,times
662,2020-07-17,113-8193768-4689055,00htlrlykfr0wxv@marketplace.amazon.com,1,84.95,0
267,2020-08-19,113-2140976-7313031,02gf9ds1vntvgfn@marketplace.amazon.com,1,24.99,0
1086,2020-06-13,114-7110044-6178622,02yzdf2sr6c6dp0@marketplace.amazon.com,1,29.99,0
1233,2020-05-08,111-6046021-4295452,0367s9fktkv9xbv@marketplace.amazon.com,2,59.98,0
1232,2020-05-12,111-5919249-2500220,0367s9fktkv9xbv@marketplace.amazon.com,2,59.98,345600000000000 nanoseconds
...,...,...,...,...,...,...
1744,2020-09-08,112-6336615-9579449,zxyk6c6rgnvs6rk@marketplace.amazon.com,3,74.97,2505600000000000 nanoseconds
1814,2020-09-16,113-5797949-1855408,zxyk6c6rgnvs6rk@marketplace.amazon.com,2,59.98,691200000000000 nanoseconds
42,2020-04-25,112-1203795-2818601,zy5886sb49dk5sh@marketplace.amazon.com,2,54.98,0
1738,2020-09-14,112-5692313-8537033,zynp8xc2br3nw82@marketplace.amazon.com,1,24.99,0
1342,2020-05-08,113-3438264-5538605,zzds9crwc6jcbvf@marketplace.amazon.com,1,24.99,0

In [199]:
time_df['times'] = time_df['times'].astype('timedelta64[D]')

In [206]:
time_df['times'] = time_df['times'].apply(lambda x: str(x)[0])

In [208]:
time_df['times'] = time_df['times'].astype(int)

In [213]:
n_orders = time_df[time_df['times'] > 0]

In [216]:
def time_between_first_second(df, buyercol, timecol):
    order_time_dict = {}
    order_times = df[timecol].values
    buyers = df[buyercol].values
    
    for i in range(len(order_times)):
        if buyers[i] in order_time_dict.keys():
            pass
        else:
            order_time_dict[buyers[i]] = order_times[i]
    
    return order_time_dict

In [218]:
first_second = time_between_first_second(n_orders, 'buyers', 'times')

In [223]:
np.mean(list(first_second.values()))

3.3978494623655915